@inject MentalHealthApp.Common.DTOs.CurrentUserDto CurrentUser
@using System.Security.Claims
@*@inject MentalHealthApp.Common.DTOs.EditUserDto user*@
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MentalHealthApp.WebApp</title>
    <script src="https://kit.fontawesome.com/bdd89edb33.js"></script>
      <script src="https://kit.fontawesome.com/049529442a.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MentalHealthApp.WebApp.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/layout.css"/>  
</head>
<!--dust particel-->

<body>
    <div>
  <div class="starsec"></div>
  <div class="starthird"></div>
  <div class="starfourth"></div>
  <div class="starfifth"></div>
</div>
    <header style="padding: 0px">
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light  border-bottom box-shadow mb-3 " style="background: radial-gradient(ellipse at bottom, #f1b866 0%, #e75757 100%); box-shadow:0.3rem 0.5rem 0.95rem rgb(247 242 242 / 20%);">
            <div class="container-fluid">
                  <img style="  z-index: 99999; width: 38px; max-height: 80%;  max-width: 80%;" class="preloader-logo" src="~/images/Logo.png" width=90>
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Hygieia</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        
                        @{
                            if (CurrentUser.isAuthenticated)
                            {
                                                                    
                                                                    
                                    var role = User.Claims.Where(c => c.Type == ClaimTypes.Role).FirstOrDefault().Value;
                                    if (role == "Pacient" || role == "Specialist")
                                    {
                                                    <li class="nav-item">
                                                        <a class="nav-link text-dark" asp-controller="Forum" asp-action="ViewForumFirstPage" asp-route-page="0">Forum</a>
                                                        </li>
                                         
                                        
                                                <li class="nav-item">
                                                    <a class="nav-link text-dark" asp-action="DoctorsProfile" asp-controller="Profile"  asp-route-page='0' >Medici</a>
                                        </li>
                                          <li class="nav-item">
                                                    <a class="nav-link text-dark" asp-action="MedicationSearch" asp-controller="Prospect"  >Prospect Medical</a>
                                        </li>
                                }
                                if(role == "Pacient")
                                  {
                                                    <li class="nav-item">
                                                            <a class="nav-link text-dark" asp-controller="Profile" asp-action="UserProfile" >Profil</a>
                                                        </li>
                                }
}
                            }
                            @{
                           if (CurrentUser.isAuthenticated)
                            {
                              var role = User.Claims.Where(c => c.Type == ClaimTypes.Role).FirstOrDefault().Value;
                                           @if (role == "Admin")
                                {
                           
                                                <li class="nav-item">
                                            <a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="Dashboard">Administrare</a>
                                            </li>
                                }
                        }
                                              
                           if (CurrentUser.isAuthenticated)
                            {
                              var role = User.Claims.Where(c => c.Type == ClaimTypes.Role).FirstOrDefault().Value;
                                          @if (role == "Specialist")
                            {
                                             <li class="nav-item">
                                                    <a class="nav-link text-dark" asp-controller="MedicalReports" asp-action="CreateMedicalReport" >Creaza Raport</a>
                                            </li>
                                            <li class="nav-item">
                                                    <a class="nav-link text-dark" asp-controller="Profile" asp-action="DoctorProfile" >Profil</a>
                                            </li>
                                            <div class="dropdown">
                                                    <li style="color:black" value="Programari" class="dropbtn">Programari</li>
                                                <div class="dropdown-content">
                                                        <a asp-area="" asp-controller="DoctorAccount" asp-action="PhysicalAppointments">Fizic</a>
                                                        <a asp-area="" asp-controller="DoctorAccount" asp-action="OnlineAppointments">Online</a>
                                                </div>
                                            </div> 
                             

                                }
                        }
                        }
                        
                    </ul>
                </div>    
                    @{
                    if(CurrentUser.isAuthenticated)
                    {
                       
                                            <p style="flex-shrink: 0;  margin-right:3px;  margin-bottom: 0;">@CurrentUser.FirstName</p> 
                              
		                        var base64 = Convert.ToBase64String(@CurrentUser.UserImage);                  
		                        var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
		                        if(@imgSrc == "data:image/gif;base64,")
		                        {
                                                <img style="flex-shrink: 0;   margin-bottom: 0;  z-index: 99999;  height: 50px; width: 50px; max-height: 80%; object-fit:cover; max-width: 80%; margin-left:5px border-radius: 50%;" class="img-lg rounded-circle border shadow"  src="~/images/Userprofile.jpg" alt="">
		                        }
		                        else{
                                                <img  width=120  style="flex-shrink: 0;   margin-bottom: 0;  z-index: 99999;  height: 50px; width: 50px; max-height: 80%; object-fit:cover; margin-left:5px;  max-width: 80%; border-radius: 50%;" class="img-lg rounded-circle border shadow"  src="@imgSrc" alt="" />
		                        }
              

                                                                        <div style="flex-shrink: 0;  margin-right: 2%; font-size: 1.4rem;  margin-bottom: 0;  z-index: 99999;" class="dropdown">
                                                                            <a   value="Programari" class="dropbtn"><i class="fa fa-bars"></i></a>
                                                                        <div class="dropdown-content" style=" margin-left: -40px;">
                                                                                <a asp-controller="UserAccount" asp-action="Logout"> Log Out</a>
                                                                        </div>
                                                                        </div>
                    }
                    else
                    {
                                        <div class="dropdown" style="flex-shrink: 0;  margin-right: 2%; font-size: 1.4rem;  margin-bottom: 0;  z-index: 99999;">
                                        <a class="dropbtn"><i class="fa fa-bars"></i></a>
                                    <div class="dropdown-content" style="font-size: 0.9rem;  margin-left: -40px;" >
                                            <a asp-controller="UserAccount" asp-action="Login"> Log In</a>
                                            <a asp-controller="UserAccount" asp-action="Register">Register User</a>
                                    </div>
                                </div> 
                                            
                                          
                            }

                            }                                      
                    </nav>
                    </header>
                    <div class="container" style="padding-bottom: 65px; max-width: 1500px;"> 
                        <main role="main" class="pb-3">
                            @RenderBody()
                        </main>
                    </div>



                        <footer class="border-top footer text-muted" style="line-height: 50px;">
                            <div class="container">
                                &copy; 2022 - Hygieia - Mental Health is not a taboo <i class="fa-light fa-head-side-heart" style="color: red; font-size: 1.6rem"></i>
                            </div>
                        </footer>
                        <script src="~/lib/jquery/dist/jquery.min.js"></script>
                        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
                        <script src="~/js/site.js" asp-append-version="true"></script>
                        @await RenderSectionAsync("Scripts", required: false)
                    </body>
                    </html>


 @*<script>
    window.addEventListener("load", function() {
        document.getElementById("ProfileImage").src = localStorage.getItem("image");
    });
 </script>*@