@using System.Security.Claims
@model MentalHealthApp.BusinessLogic.Implementation.Forum.ViewModels.CreateDiscussionVM
@inject MentalHealthApp.Common.DTOs.CurrentUserDto CurrentUser

<head>
	<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
	<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css">
	<link rel="stylesheet" href="~/css/forumFirstPage.css"/>
	<link rel="stylesheet" type="text/css" href="~/css/style.css">
    
</head>

<body>
    
	@{
		var role = User.Claims.Where(c => c.Type == ClaimTypes.Role).FirstOrDefault().Value;
		if (role != "Admin")
		{
			<h2 id="title" style="    color: white; text-shadow: 2px 2px 3px #7092b7;">Impartaseste cu restul comunitatii povestea ta</h2>
			  <div class="container">		
				<a href="#modal-1" class="btn btn-std mt-link" onclick="HideCards()">Adauga o discutie</a>
			</div>
		}
	}

	<div class="modal-page" id="modal-1" >

		<div class="modal-wrapper">

			<h3 class="modal-header">Adauga o discutie</h3>
            <form asp-controller="Forum" asp-action="CreateDiscussion">
			<div class="modal-body ">
					 <div class="form-group" id="modal-text">
                    <label asp-for="Topic" class="control-label"></label>
                     <span class="custom-dropdown big" >
						<select style="background:white" asp-for="Topic" class="form-control"  id="description">    
								@foreach(var condition in @Model.Conditions){
									<option>@condition</option>
								}
								
						</select>
				   </span>
                    <span asp-validation-for="Topic" class="text-danger"></span>
                </div>
		         <div class="form-group" id="modal-text">
                    <label asp-for="Titlu" class="control-label"></label>
                    <input asp-for="Titlu" class="form-control" />
                    <span asp-validation-for="Titlu" class="text-danger"></span>
                </div>
                <div class="form-group" id="modal-text">
                    <label asp-for="Continut" class="control-label"></label>
                    <textarea asp-for="Continut" class="form-control"></textarea>
                    <span asp-validation-for="Continut" class="text-danger"></span>
                </div>
                
			</div>

			<a href="#" class="btn btn-std mb-link" onclick="DisplayHiddenCards()">Anuleaza</a>
			<button class="btn btn-std mb-link" type="submit" value="Save" >Salveaza</button>
			<a href="#" class="btn btn-sm" onclick="DisplayHiddenCards()">X</a>
            </form>
		</div><!-- modal wrapper end -->
	</div><!-- modal-page end -->

	<section class="main-content">
		<div class="container">
			<h1 style=" color: white; text-shadow: 2px 2px 3px #7092b7;">Discutii</h1>
			<br>
			<br>

			<div class="row" id="cards">
				 @foreach(var discutie in @Model.DiscussionVMs)
                {
					<div class="col-sm-6 col-md-6 col-lg-4" id="discutie-@discutie.Id">
						<div class="card bg-white p-3 mb-4 shadow" >
							<div class="d-flex justify-content-between mb-4">
								<div class="user-info">
									<div class="user-info__img">
											@{
														var base64 = Convert.ToBase64String(@discutie.UserImage);                  
														var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
														if(imgSrc == "data:image/gif;base64,"){
																<img id="doctor-img" src="~/images/Userprofile.jpg" alt="">
														}
														else{
													 			<img id="doctor-img" src="@imgSrc" alt="" />
														}
												
												}
									</div>
									<div class="user-info__basic">
										<h5 style="color: #323030; font-size:16px;  text-shadow: 2px 2px 3px #7092b7; " class="mb-0">@discutie.Username</h5>
										<p  style="color: #323030; font-size:16px;  text-shadow: 2px 2px 3px #7092b7; " class="text-muted mb-0">@discutie.DataCreare </p>
											<h3 style="color: #323030; font-size:16px;  text-shadow: 2px 2px 3px #7092b7; " class="text-muted mb-0">Topic: @discutie.Titlu </h3>
									</div>
								</div>
								<div class="dropdown open">
									
									<a  href="#!" class="px-2"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
										<i  class="fa fa-ellipsis-v"></i>
									</a>
									@{
									if (@discutie.UserId.Equals(CurrentUser.Id) || role == "Admin")
									{
										<div class="dropdown-menu " aria-labelledby="triggerId1" id="dropdown-menu_" >
										<button class="dropdown-item" ><i class="fa fa-pencil mr-1"></i> Edit</button>
										<a class="dropdown-item text-danger" data="@discutie.Id" id="@discutie.UserId"><i class="fa fa-trash mr-1"></i> Delete</a>
									</div>
										
									}
									else{
									
										<div class="dropdown-menu " aria-labelledby="triggerId1" id="dropdown-menu_" style="display:none">
										<button class="dropdown-item-text" ><i class="fa fa-pencil mr-1"></i> Edit</button>
										<a class="dropdown-item text-danger" data="@discutie.Id" id="@discutie.UserId"><i class="fa fa-trash mr-1"></i> Delete</a>
										</div>
									
									}
									}
								</div>
							</div>
							<p id="continut" class="mb-0" style="color: #323030; font-size:16px;  text-shadow: 2px 2px 3px #7092b7; ">@discutie.Continut...</p>
							<div class="d-flex justify-content-between mt-4">
								<a class="text-success font-weight-bold" style="color:#e75757!important" asp-action="ViewDiscussion" asp-controller="Forum" asp-route-id="@discutie.Id" id="@discutie.Id" >Vezi Discutie...</a>
							</div>
						</div>
					</div>
				}
			
		</div>
		<a  class="btn btn-std mb-link" asp-action="ViewForumFirstPage" asp-controller="Forum" asp-route-page="@(Model.Page - 1)">Previous Page</a>
            <a  class="btn btn-std mb-link"  asp-action="ViewForumFirstPage" asp-controller="Forum" asp-route-page="@(Model.Page + 1)" >Next Page</a>
            <p id="page-number">Page @(Model.Page + 1)</p>
	</section>
	
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"></script>
</body>


<script>
	function GoToDiscussion(){
		const id = event.srcElement.id;
		 $.ajax({

                url:'@Url.Action("ViewDiscussion", "Forum")',
                type:"GET",
                data: { id: id },
                error:function (response) {
                    console.log(JSON.stringify(response));
                }

            });
}
	function HideCards(){
       var element = document.getElementById("cards");      
       element.style.display = "none";
}
	function DisplayHiddenCards() {
		var element = document.getElementById("cards");
		element.style.display = "flex";
	}

//window.addEventListener("load", function() {
//    var element = document.querySelector('[data]');
//    alert(element);
//    if ( element !== @CurrentUser.Id) {
//        element.style.display = "none";
//    }

//});   
</script> 
<script>
    $(".dropdown-item").on('click', function () {

        const id = $(this).attr("data"); 
        const user = $(this).attr("id");
        alert(user);
            $.ajax({

                url:'@Url.Action("DeleteDiscussion", "Forum")',

                type:"DELETE",

                //dataType:"json",

                data: { id: id, user:user},

                success:function (data) {

                    console.log('deleted discussion ' + id);
                   document.getElementById('discutie-' +id).remove();



                },

                error:function (response) {
                    console.log(JSON.stringify(response));
                }

            });

        });
       

</script>
