@model MentalHealthApp.BusinessLogic.Implementation.Appointments.ViewModels.AcceptedAppointmentsVM

<head>
	<meta charset="UTF-8">
	<title>Appointment Cards</title>
	<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css">
	<link rel="stylesheet" type="text/css" href="~/css/style.css">
	<!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">

     <script src="~/js/appointment/viewAppoinments.js"></script>
</head>

   <!-- BREADCRUM-PART START -->
      
      <section class="breadcrumb-bar">
          <div class="container-fluid">
              <div class="row">
                  <div class="col-lg-12 col-md-12 col-12">
                      <nav class="page-breadcrum" aria-label="breadcrumb">
                            <ol class="breadcrumb">
                              <li class="breadcrumb-item"><a asp-action ="UserProfile" asp-controller="Profile"> Profil </a></li>
                             <li class="breadcrumb-item active" aria-current="page">Programarile de astazi</li>

                              </ol>
                    </div>
                </div>
            </section>
        <!-- BREADCRUM-PART END -->
	<section class="main-content">
		<div class="container">
			<br>
			<br>

			<div class="row">
				 @foreach(var programare in @Model.AcceptedAppointmentsVMs)
                {
					<div class="col-sm-6 col-md-6 col-lg-4" id="Appcard-@programare.Id">
						<div class="card bg-white p-3 mb-4 shadow">
							<div class="d-flex justify-content-between mb-4">
								<div class="user-info">
									<div class="user-info__img">
										@{ 
											 var base64 = Convert.ToBase64String(programare.UserImage);                  
											 var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
											 if(@imgSrc == "data:image/gif;base64,")
											 {
												<img src="~/images/Userprofile.jpg" alt="User Img">																									 	
											 }
											 else{
												<img src="@imgSrc" alt="User Img">																									  	
											 }
										 } 
									</div>
									<div class="user-info__basic">
										<h5 class="mb-0">@programare.Specialist</h5>
									</div>
								</div>
								<div>
									<a onclick="RemoveCard()" class="btn" asp-action="VideoDiscussion" asp-controller="OnlineAppointment" asp-route-id="@programare.Id" id="conference-button-@programare.Id" data="@programare.Id">
										<i class="fa fa-video" ></i>
									</a>
								</div>
							</div>
							<a href="#!"><small>Contact</small></a>
							<h6 class="mb-0">@programare.PhoneNumber</h6>
							<h6 class="mb-0">@programare.Email</h6>							
							<div class="d-flex justify-content-between mt-4">
								<div>
									<h5 class="mb-0 data-programare" id="hour-@programare.Id" data="@programare.Id">@programare.DataProgramare.Split("T")[1]</h5>
								</div>
							</div>
						</div>
					</div>
				}
			
		</div>
	</section>
	
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>

<script>
function RemoveCard() {
    id = event.srcElement.data;
    document.getElementById("Appcard-" + id);
};
	function OpenDiscussion() {
        const idDiscussion = event.srcElement.data.value;
	   $.ajax({
        url: "/OnlineAppointment/VideoDiscussion",
        type: "GET",
        data: {id: idDiscussion},
		success: function() {
            window.location = "/OnlineAppointment/VideoDiscussion";
        }
    });
};
</script>