@using MentalHealthApp.Entities.Enums
@using System.Security.Claims
@inject MentalHealthApp.Common.DTOs.CurrentUserDto CurrentUser
@model MentalHealthApp.BusinessLogic.Implementation.Account.ViewModels.UserVM


<head>
    <link rel="stylesheet" href="~/css/userProfile.css" asp-append-version="true" />
    <link rel="stylesheet" src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/MentalHealthApp.WebApp.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css//profile_image.css"/>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"  ></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
</head>

<body>
<div  id="user" class="container profile">
  <div class="row">
    <div class="col text-center mt-3">
     
         <div class="avatar" id="avatar">
           <div id="preview">
               @{
                 var base64 = Convert.ToBase64String(@Model.UserImage);                  
                 var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
                             @if(@imgSrc == "data:image/gif;base64,")
                 {
                                                 <img  class="avatar_img img-lg rounded-circle border shadow"  src="~/images/Userprofile.jpg" alt="">
                 }
                 else{
                                                  <img  class="avatar_img img-lg rounded-circle border shadow"  src="@imgSrc" alt="" />
                 }
              } 
               <div class=" avatar_upload">
                    <label  class="upload_label">Upload
                    <input onclick="ChangePhoto()" type="file" id="upload">
                  </label>
          </div>
          </div>
          </div>
      <h2 class="mt-3">@Model.FirstName @Model.LastName</h2>
    </div>
  </div>

  <div class="row mt-2">
    <div class="col">
      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="true">Profil</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Contact</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="address-tab" data-toggle="tab" href="#address" role="tab" aria-controls="address" aria-selected="false">Adresa</a>
        </li>
       <li>
           <a  asp-action="EditUserProfile" asp-controller="Profile" asp-route-email="@Model.Email" class="nav-link" id="links-tab" >Edit Profil</a>
      </li>
        <li class="nav-item">
          <a  href="@Url.Action("UserTodayAppointments", "Profile")" class="nav-link" id="links-tab"  >Programarile de astazi</a>
        </li>
         <li class="nav-item">
          <a  href="@Url.Action("ViewMedicalHistory", "MedicalReports")" class="nav-link" id="links-tab"  >Istoric Medical</a>
        </li>
      </ul>
       
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="profile" role="tabpanel" aria-labelledby="profile-tab">
          <table class="table table-hover table-sm table-properties">
            <tr v-show="user.LastName">
              <th>Nume</th>
              <td style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 20rem;">@Model.LastName</td>
            </tr>
            <tr v-show="user.FirstName">
              <th>Prenume</th>
              <td>@Model.FirstName</td>
            </tr>
            <tr v-show="user.Username">
              <th>Username</th>
              <td>@Model.Username</td>
            </tr>
            <tr v-show="user.BirthDate">
              <th>Data Nasterii</th>
              <td>@Model.BirthDate</td>
            </tr>
            <tr v-show="user.Categorie">
              <th>Categorie</th>
              <td>@Model.Categorie</td>
            </tr>
            <tr v-show="user.Asigurat">
              <th>Asigurat</th>
              <td>@Model.Asigurat</td>
            </tr>
       
          </table>
        </div>

        <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
          <table class="table table-hover table-sm table-properties">
            <tr v-show="user.Email">
              <th>Email</th>
              <td>@Model.Email </td>
            </tr>
            <tr v-show="user.PhoneNumber">
              <th>Numar Contact</th>
              <td>@Model.PhoneNumber</td>
            </tr>
      
          </table>
        </div>

        <div class="tab-pane fade" id="address" role="tabpanel" aria-labelledby="address-tab">
          <table class="table table-hover table-sm table-properties">
            <tr v-show="user.Tara">
              <th>Tara</th>
              <td>@Model.Tara</td>
            </tr>
            <tr v-show="user.Oras">
              <th>Oras</th>
              <td>@Model.Oras</td>
            </tr>
            <tr v-show="user.Judet">
              <th>Judet</th>
              <td>@Model.Judet</td>
            </tr>
            <tr v-show="user.CodPostal">
              <th>Cod Postal</th>
              <td>@Model.CodPostal</td>
            </tr>
            <tr v-show="user.StradaNumar">
              <th>Strada, Numar</th>
              <td>@Model.StradaNumar</td>
            </tr>
            <tr v-show="user.address.street_address">
              <th>Bloc, Scara, Apartament</th>
              <td>@Model.BlocScaraApartament</td>
            </tr>
            <tr v-show="user.Sector">
              <th>Sector</th>
              <td>@Model.Sector</td>
            </tr>
            <tr>       
            </tr>
          </table>
        </div>
    
      </div>
    </div>
  </div>
</div>
<div>
  

</div>

</body>
<script>
function ChangePhoto() {
    window.handleAriaUpload = function(e, obj) {
        obj = document.getElementById("upload").value;
    $.ajax({

                url:'@Url.Action("ChangeProfilePhoto", "Profile")',

                type:"PATCH",

                data: { userImage: obj}

            });
  }
};
function OpenEditForm() {
    const email = event.srcElement.getAttribute('data');
    //const email = window.localStorage.setItem("model: ", model-);
    	 $.ajax({

                url:'@Url.Action("EditUserProfile", "Profile")',

                type:"GET",

                dataType:"html",

                data: { email: email},

                success:function (response) {
                    window.location =  "/Profile/EditUserProfile/" + email;
                    
                },

                error:function (response) {
                    console.log(JSON.stringify(response));
                }

            });

}
</script>