@model MentalHealthApp.BusinessLogic.Implementation.Appointments.ViewModels.AcceptedAppointmentsVM
@using MentalHealthApp.Entities.Enums
<head>
	<meta charset="UTF-8">
	<title>Appointment Cards</title>
	<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css">
	<link rel="stylesheet" type="text/css" href="~/css/style.css">
</head>

	<section class="main-content">
		<div class="container">
			<br>
			<br>

			<div class="row">
				 @foreach(var programare in @Model.AcceptedAppointmentsVMs)
                {
					<div class="col-sm-6 col-md-6 col-lg-4" id="Appcard-@programare.Id">
						<div class="card bg-white p-3 mb-4 shadow">
							<div class="d-flex justify-content-between mb-4">
								<div class="user-info">
									<div class="user-info__img">
										@{ 
											 var base64 = Convert.ToBase64String(programare.UserImage);                  
											 var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
											 if(@imgSrc == "data:image/gif;base64,")
											 {
													<img src="~/images/Userprofile.jpg" alt="User Img">														
											 }
											 else{
													<img src="@imgSrc" alt="User Img">																									  
											 }
										 } 
									</div>
									<div class="user-info__basic">
										<h5 class="mb-0">@programare.Pacient</h5>
										<p class="text-muted mb-0">  Categorie: @programare.Categorie</p>
											<p class="text-muted mb-0">Asigurat: @programare.Asigurat </p>
									</div>
								</div>
								<div>
									<a data-button="@programare.Id" class="btn" onclick="changeStatus(@programare.Id)"  asp-action="VideoDiscussion" asp-controller="OnlineAppointment" asp-route-id="@programare.Id" id="conference-button-@programare.Id" >
										<i  data-i="@programare.Id" class="fa fa-video" ></i>
									</a>
								</div>
							</div>
							<h6 class="mb-0">@programare.PhoneNumber</h6>
							<h6 class="mb-0">@programare.Email</h6>
							<a href="#!"><small>Contact</small></a>
							  <p id="status-td-@programare.Id">@AppointmentStatus.Programare_Acceptata.ToString()</p>
							  <button onclick="ShowDropdown()" id="@programare.Id"  ><i class="fa fa-pen" title="Edit Status" aria-hidden="true"></i></button>
							<div  id="edit-@programare.Id" style="display:none" >
                                         <span class="custom-dropdown big" >
                                                <select id="div-dropdown-@programare.Id">    
                                                        <option>@AppointmentStatus.Programare_Anulata.ToString()</option>
                                                        <option>@AppointmentStatus.Programare_Realizata.ToString()</option>
                                                    </select>
                         </span>
								<button class="btn btn-std mb-link" style="background-color:rgb(169,146,209)"  onclick="SaveStatus()" id="@programare.Id">Salveaza</button>
							</div>
							<div class="d-flex justify-content-between mt-4">
								<div>
									<h5 class="mb-0 data-programare" id="hour-@programare.Id" data="@programare.Id">@programare.DataProgramare.Split("T")[1]</h5>
								</div>
							</div>
						</div>
					</div>
				}
			
		</div>
	</section>
	
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>

<script>
	function ShowDropdown() {
     let id = event.srcElement.id;
    let td = document.getElementById("status-td-" + id);
    td.style.display = "none";
    let select = document.getElementById("edit-" + id);
    select.style.display = "block";
}
function SaveStatus() {
    const id = event.srcElement.id;
    const dropdownValue = document.getElementById("div-dropdown-"+id).value;
     $.ajax({
             url: '@Url.Action("AcceptAppointment", "DoctorAccount")',

             type: "POST",

             data: { appointmentId: id, stare:dropdownValue },
             success: function(data) {
                 alert("Status programare schimbat cu succes");
                  document.getElementById("Appcard-" + id).remove();
             },

             error: function(response) {
                 console.log("Error");
                 console.log(JSON.stringify(response));
             }
         });
}
function changeStatus(id) {
		 const stare = "Programare_Realizata";
         $.ajax({
             url: '@Url.Action("AcceptAppointment", "DoctorAccount")',

             type: "POST",

             data: { appointmentId: id, stare:stare },
             success: function(data) {
                 document.getElementById("Appcard-" + id).remove();
             },

             error: function(response) {
                 console.log(JSON.stringify(response));
             }
         })
};
window.addEventListener("load", function() {
    let div_data = document.getElementsByClassName("data-programare");
	const date = new Date(Date.now());
    const currentDate =date.getHours().toString() + ":" + date.getMinutes().toString();
    for (let i = 0; i < div_data.length; i++) {
        let id = div_data[i].getAttribute("data");
        if (div_data[i].innerHTML >= currentDate.toString() ) {
			let buton = document.getElementById("conference-button-" + id);
            buton.removeAttribute("disabled");
            return;
        }
    }
});

</script>